{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "safari": "11.1",
          "firefox": "60",
          "edge": "17",
          "chrome": "67",
          "ie": 8
        },
        "useBuiltIns": "usage", // 按需加载polyfill
        "corejs": 3
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}